<section data-ng-controller="HomeController">
  <img src="/modules/core/img/BI_Banner.jpg" class="img-responsive">
    <div class="jumbotron">
        <h1>{{ appTitle }}</h1>
        <p>{{ appDescription }}</p>
        <p>
            <a class="btn btn-info btn-lg" href="http://brightbi.net" target="_blank">
                <span>{{'HOME_LEARN_MORE' | translate }}</span>
                <i class="fa fa-angle-double-right"></i>
            </a>
            <button class="btn btn-primary btn-lg" ng-click="openNewWpt()">
                {{ 'ACTION_CREATE_NEW_REPORT' | translate }}
            </button>

            <a ng-hide="authentication.user" class="btn btn-primary btn-lg" href="/#!/signin">
                <i class="fa fa-sign-in"></i>
                <span>{{'MENU_SIGNIN' | translate }}</span>
            </a>
            <a ng-show="authentication.user" class="btn btn-primary btn-lg" href="/auth/signout">
                <i class="fa fa-sign-out"></i>
                <span>{{'MENU_SIGNOUT' | translate }}</span>
            </a>
        </p>
    </div>
</section>
