<div class="Wrapper">
    <div class="jumbotron">
        <h1>{{'HOME_TITLE' | translate }}</h1>
        <p>{{'HOME_DESCRIPTION' | translate }}</p>
        <p>
            <a class="btn btn-info" href="http://bi2.io/brightbi.html" target="_blank">
                <span>{{'HOME_LEARN_MORE' | translate }}</span>
                <i class="fa fa-angle-double-right"></i>
            </a>
            <a ng-hide="authentication.user" class="btn btn-primary" ng-click="openAuthenticationDialog('signin')">
                <i class="fa fa-sign-in"></i>
                <span>{{'MENU_SIGNIN' | translate }}</span>
            </a>
            <a ng-show="authentication.user" class="btn btn-primary" href="/auth/signout">
                <i class="fa fa-sign-out"></i>
                <span>{{'MENU_SIGNOUT' | translate }}</span>
            </a>
        </p>
    </div>

</div>

