<div class="row-fluid">
    <div class="col-md-12">
        <h3>{{ 'DASHBOARD_ACCOUNT_TITLE' | translate: { name: authentication.user.displayName } }}</h3>
    </div>
</div>

<div class="row-fluid ">
    <div class="col-md-12 bg-info menu">
        <a class="pull-left btn btn-success" data-ng-click="openProfileEditDialog()">
            <i class="fa fa-edit"></i>
            <span>{{ 'MENU_EDIT_PROFILE' | translate}}</span>
        </a>
        <a class="pull-left  btn btn-success" data-ng-click="openPasswordChangeDialog()">
            <i class="fa fa-key"></i>
            <span>{{ 'MENU_CHANGE_PASSWORD' | translate}}</span>
        </a>
        <a class="pull-right  btn btn-danger" data-ng-click="remove();">
            <i class="fa fa-trash"></i>
            <span>{{ 'ACTION_DELETE' | translate}}</span>
        </a>
    </div>
</div>
