<div class="modal-header">
    <h3 class="modal-title">Upload wpt file to create new report</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">

        <fieldset>

            <div class="form-group">
                <label class="col-md-3 control-label">File type</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="data.fileType" ng-options="type.label for type in fileTypes"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Title</label>
                <div class="col-md-9">
                    <input type="text" ng-model="data.title" class="form-control" placeholder="Title" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Description</label>
                <div class="col-md-9">
                    <input type="text" ng-model="data.description" class="form-control" placeholder="Description" required>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <div class="btn btn-default btn-sm" ng-file-select="onFileSelect($files)" title="select file" onclick="this.value = null" >Click here to select file</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                    <br/>
                    <div class="sel-file" ng-show="selectedFile">
                        {{selectedFile.name}} - size: {{selectedFile.size}}B - type: {{selectedFile.type}}
                        <br/>
                        <br/>
                        <button class="btn btn-p" ng-click="start()" ng-show="progress < 0">Upload</button>
                        <button class="button" ng-click="abort()" ng-show="upload && progress < 100">Abort</button>

                        <div class="col-md-4" ng-show="progress >= 0">
                            <progressbar value="progress" type="success"><b>{{progress}}%</b></progressbar>
                        </div>
                    </div>

                </div>
            </div>

        </fieldset>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
