<!--messages.html - contains all the messages -->
<div ng-message='serverError'>{{ 'ERROR_VALIDATION_SERVER' | translate }}</div>
<div ng-message='notFound'>{{ 'ERROR_VADIDATION_NOT_FOUND' | translate }}</div>
<div ng-message='inProgress'>{{ 'ERROR_VADIDATION_WAIT' | translate }}</div>
<div ng-message='required'>{{ 'ERROR_VADIDATION_REQUIRED' | translate }}</div>
<div ng-message='minlength'>{{ 'ERROR_VADIDATION_TOO_SHORT' | translate }}</div>
<div ng-message='maxlength'>{{ 'ERROR_VADIDATION_TOO_LONG' | translate }}</div>
<div ng-message='email'>{{ 'ERROR_VADIDATION_EMAIL' | translate }}</div>
