<div data-ng-show="statuses.loading">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
</div>
<div data-ng-show="statuses.errorId" class="text-danger">
    <div>
        <strong> {{ statuses.errorId | translate}} </strong>
    </div>
</div>
<div data-ng-show="statuses.errors && statuses.errors.length>0" class="text-danger">
    <div ng-repeat="error in statuses.errors">
        <div>{{ error }}</div>
    </div>
</div>
<div data-ng-show="statuses.messageId" class="text-success">
    <div>
        <strong> {{ statuses.messageId | translate}} </strong>
    </div>
</div>
<div data-ng-show="statuses.messages && statuses.messages.length>0" class="text-success">
    <div ng-repeat="message in statuses.messages">
        <div>{{ message }}</div>
    </div>
</div>

