<section class="row" data-ng-controller="SettingsController">
	<h3 class="col-md-12 text-center">{{'PASSWORD_CHANGE_TITLE' | translate }}</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
	    <form name="changeForm" data-ng-submit="changeUserPassword()" class="form-horizontal" novalidate>
	        <fieldset>
	            <div class="form-group">
	                <label class="col-md-3 control-label">{{'CURRENT_PASSWORD' | translate }}</label>
	                <div class="col-md-6"  ng-class="{'has-error': changeForm.currentPassword.$invalid}">
	                    <input type="password" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" required ng-minlength=6>
	                </div>
	                <div class="col-md-3">
	                    <div class='formMessage' ng-messages='changeForm.currentPassword.$error' ng-messages-include='/modules/core/views/template/messages.html'></div>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-md-3 control-label">{{'NEW_PASSWORD' | translate }}</label>
	                <div class="col-md-6"  ng-class="{'has-error': changeForm.newPassword.$invalid}">
	                    <input type="password" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" required ng-minlength=6>
	                </div>
	                <div class="col-md-3">
	                    <div class='formMessage' ng-messages='changeForm.newPassword.$error' ng-messages-include='/modules/core/views/template/messages.html'></div>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-md-3 control-label">{{'CONFIRM_PASSWORD' | translate }}</label>
	                <div class="col-md-6"  ng-class="{'has-error': changeForm.verifyPassword.$invalid}">
	                    <input type="password" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" required ng-minlength=6>
	                </div>
	                <div class="col-md-3">
	                    <div class='formMessage' ng-messages='changeForm.verifyPassword.$error' ng-messages-include='/modules/core/views/template/messages.html'></div>
	                </div>
	            </div>
	            <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary" ng-disabled="!changeForm.$valid">
                        {{'ACTION_SAVE' | translate }}</button>
	            </div>
	        </fieldset>
	    </form>
	
	    <div class="form-group">
	        <div class="col-md-9 col-md-offset-3" ng-include="'/modules/core/views/template/statuses.html'" />
	    </div>

	</div>
</section>