<div class="modal-header">
    <div ng-show="screen == 'signin'">
        <h3 class="modal-title">{{'SIGNIN_TITLE' | translate }}</h3>
    </div>
    <div ng-show="screen == 'signup'">
        <h3 class="modal-title">{{'SIGNUP_TITLE' | translate }}</h3>
    </div>
    <div ng-show="screen == 'forgot'">
        <h3 class="modal-title">{{'FORGOT_TITLE' | translate }}</h3>
    </div>
</div>
<div class="modal-body">
    <form name="signInForm" data-ng-submit="signin()" class="form-horizontal" ng-show="screen == 'signin'" novalidate>
        <fieldset>
            <div class="form-group">
                <label class="col-md-3 control-label">{{'SIGNIN_USERNAME' | translate }}</label>
                <div class="col-md-6" ng-class="{'has-error': signInForm.username.$invalid}">
                    <input type="text" name="username" class="form-control" data-ng-model="credentials.username" required>
                </div>
                <div class="col-md-3">
                    <div class='formMessage' ng-messages='signInForm.username.$error' ng-messages-include='/modules/core/views/template/messages.html'></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{'SIGNIN_PASSWORD' | translate }}</label>
                <div class="col-md-6"  ng-class="{'has-error': signInForm.password.$invalid}">
                    <input type="password" name="password" class="form-control" data-ng-model="credentials.password" required ng-minlength=6>
                </div>
                <div class="col-md-3">
                    <div class='formMessage' ng-messages='signInForm.password.$error' ng-messages-include='/modules/core/views/template/messages.html'></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9  col-md-offset-3">
                    <button type="submit" class="btn btn-primary" ng-disabled="!signInForm.$valid">
                        {{'MENU_SIGNIN' | translate }}</button>&nbsp; &nbsp;
                    <a ng-click="switchToScreen('signup')">{{'MENU_SIGNUP' | translate }}</a> &nbsp; &nbsp;
                    <a ng-click="switchToScreen('forgot')">{{'MENU_FORGOT' | translate }}</a>
                </div>
            </div>
        </fieldset>
    </form>

    <form name="signupForm" data-ng-submit="signup()" class="form-horizontal" ng-show="screen == 'signup'" novalidate>
        <fieldset>
            <div class="form-group">
                <label class="col-md-3 control-label">{{'SIGNUP_FIRSTNAME' | translate }}</label>
                <div class="col-md-6"  ng-class="{'has-error': signupForm.firstName.$invalid}">
                    <input type="text" name="firstName" class="form-control" data-ng-model="credentials.firstName" required>
                </div>
                <div class="col-md-3">
                    <div class='formMessage' ng-messages='signupForm.firstName.$error' ng-messages-include='/modules/core/views/template/messages.html'></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{'SIGNUP_LASTNAME' | translate }}</label>
                <div class="col-md-6"  ng-class="{'has-error': signupForm.lastName.$invalid}">
                    <input type="text" name="lastName" class="form-control" data-ng-model="credentials.lastName" required>
                </div>
                <div class="col-md-3">
                    <div class='formMessage' ng-messages='signupForm.lastName.$error' ng-messages-include='/modules/core/views/template/messages.html'></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{'SIGNUP_EMAIL' | translate }}</label>
                <div class="col-md-6"  ng-class="{'has-error': signupForm.email.$invalid}">
                    <input type="email" name="email" class="form-control" data-ng-model="credentials.email" required>
                </div>
                <div class="col-md-3">
                    <div class='formMessage' ng-messages='signupForm.email.$error' ng-messages-include='/modules/core/views/template/messages.html'></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{'SIGNUP_USERNAME' | translate }}</label>
                <div class="col-md-6"  ng-class="{'has-error': signupForm.username.$invalid}">
                    <input type="text" name="username" class="form-control" data-ng-model="credentials.username" required>
                </div>
                <div class="col-md-3">
                    <div class='formMessage' ng-messages='signupForm.username.$error' ng-messages-include='/modules/core/views/template/messages.html'></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{'SIGNUP_PASSWORD' | translate }}</label>
                <div class="col-md-6" ng-class="{'has-error': signupForm.password.$invalid}">
                    <input type="password" name="password" class="form-control" data-ng-model="credentials.password" required ng-minlength=6>
                </div>
                <div class="col-md-3">
                    <div class='formMessage' ng-messages='signupForm.password.$error' ng-messages-include='/modules/core/views/template/messages.html'></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9  col-md-offset-3">
                    <button type="submit" class="btn btn-primary" ng-disabled="!signupForm.$valid">
                        {{'MENU_SIGNUP' | translate }}</button>&nbsp; &nbsp;
                    <a ng-click="switchToScreen('signin')">{{'MENU_SIGNIN' | translate }}</a> &nbsp; &nbsp;
                    <a ng-click="switchToScreen('forgot')">{{'MENU_FORGOT' | translate }}</a>
                </div>
            </div>
        </fieldset>
    </form>

    <form name="forgotForm" data-ng-submit="forgot()" class="form-horizontal" ng-show="screen == 'forgot'" novalidate>
        <fieldset>
            <div class="form-group">
                <label class="col-md-3 control-label">{{'SIGNUP_EMAIL' | translate }}</label>
                <div class="col-md-6" ng-class="{'has-error': forgotForm.email.$invalid}">
                    <input type="email" name="email" class="form-control" data-ng-model="credentials.email" required>
                </div>
                <div class="col-md-3">
                    <div class='formMessage' ng-messages='forgotForm.email.$error' ng-messages-include='/modules/core/views/template/messages.html'></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-primary" ng-disabled="!forgotForm.$valid">
                        {{'MENU_FORGOT' | translate }}</button>&nbsp; &nbsp;
                    <a ng-click="switchToScreen('signin')">{{'MENU_SIGNIN' | translate }}</a> &nbsp; &nbsp;
                    <a ng-click="switchToScreen('signup')">{{'MENU_SIGNUP' | translate }}</a>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="form-group">
        <div class="col-md-9 col-md-offset-3" ng-include="'/modules/core/views/template/statuses.html'" />
    </div>

</div>
<div class="modal-footer">
    <!--button class="btn btn-primary" ng-click="ok()">{{ 'ACTION_OK' | translate}}</button-->
    <button class="btn btn-warning" ng-click="cancel()">{{ 'ACTION_CANCEL' | translate}}</button>
</div>

<!--h3 class="col-md-12 text-center">Sign in using your social accounts</h3>
<div class="col-md-12 text-center">
    <a href="/auth/facebook" class="undecorated-link">
        <img src="/modules/users/img/buttons/facebook.png">
    </a>
    <a href="/auth/twitter" class="undecorated-link">
        <img src="/modules/users/img/buttons/twitter.png">
    </a>
    <a href="/auth/google" class="undecorated-link">
        <img src="/modules/users/img/buttons/google.png">
    </a>
    <a href="/auth/linkedin" class="undecorated-link">
        <img src="/modules/users/img/buttons/linkedin.png">
    </a>
</div>
<h3 class="col-md-12 text-center">Or with your account</h3-->

<!--h3 class="col-md-12 text-center">Sign up using your social accounts</h3>
<div class="col-md-12 text-center">
    <a href="/auth/facebook" class="undecorated-link">
        <img src="/modules/users/img/buttons/facebook.png">
    </a>
    <a href="/auth/twitter" class="undecorated-link">
        <img src="/modules/users/img/buttons/twitter.png">
    </a>
    <a href="/auth/google" class="undecorated-link">
        <img src="/modules/users/img/buttons/google.png">
    </a>
    <a href="/auth/linkedin" class="undecorated-link">
        <img src="/modules/users/img/buttons/linkedin.png">
    </a>
</div>
<h3 class="col-md-12 text-center">Or with your email</h3-->

