<div class="row-fluid Wrapper">
    <div class="col-md-offset-3 col-md-6" >

        <div class="row-fluid">
            <div class="col-md-12 text-center">
                <h3>{{'RESET_TITLE' | translate }}</h3>
            </div>

            <form name="resetForm" data-ng-submit="reset()" class="form-horizontal" ng-show="authentication.user">
                <div class="form-group">
                    <label class="col-md-3 control-label">{{'NEW_PASSWORD' | translate }}</label>
                    <div class="col-md-6">
                        <input type="password" name="password" class="form-control" data-ng-model="data.password" required ng-minlength=6>
                    </div>
                    <div class="col-md-3">
                        <div class='formMessage' ng-messages='resetForm.password.$error' ng-messages-include='/modules/core/views/template/messages.html'></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{'CONFIRM_PASSWORD' | translate }}</label>
                    <div class="col-md-6">
                        <input type="password" name="confirmPassword" class="form-control" data-ng-model="data.confirmPassword" required ng-minlength=6>
                    </div>
                    <div class="col-md-3">
                        <div class='formMessage' ng-messages='resetForm.confirmPassword.$error' ng-messages-include='/modules/core/views/template/messages.html'></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9  col-md-offset-3">
                        <button type="submit" class="btn btn-primary">{{'ACTION_RESET_PASSWORD' | translate }}</button>
                    </div>
                </div>
            </form>

            <div  class="form-group">
                <div class="col-md-9 col-md-offset-3" ng-include="'/modules/core/views/template/statuses.html'" />
            </div>

        </div>
    </div>

</div>